.fondo-header {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo1-header {
  background-image: url(../img/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo2-header {
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo3-header {
  background-image: url(../img/fondo3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo4-header {
  background-image: url(../img/fondo4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo5-header {
  background-image: url(../img/fondo5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo6-header {
  background-image: url(../img/fondo6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo7-header {
  background-image: url(../img/fondo7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo8-header {
  background-image: url(../img/fondo8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo9-header {
  background-image: url(../img/fondo9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.fondo10-header {
  background-image: url(../img/fondo10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  font-family: "Roboto";
  background-color: #01747b; }

.button {
  display: inline-block;
  background-color: #0a5d77;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 2rem;
  border: 1px solid #0a5d77; }

.button:hover {
  background-color: #fff;
  color: #055066;
  transition: 0.9s;
  font-weight: 700; }

.fa-instagram {
  color: #e1306c; }

.fondos-header {
  background-position: center;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

header .banner-text {
  top: 20vh; }

.travels {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .travels h1 {
    text-align: center;
    font-size: 3rem; }
    .travels h1 span {
      color: #055066; }
  .travels p {
    margin-top: 2rem; }
  .travels a:hover {
    color: #333; }

.conteiner-span {
  width: 80%;
  margin: 0 auto; }

header .banner-text div {
  position: relative;
  top: 40px; }

header .banner-text div i {
  padding: 0 10px; }

header .fa-instagram {
  color: #e1306c; }

.navbar {
  z-index: 10000; }

.nav {
  background-color: #fff;
  border-radius: 15px; }

.nav-item:hover {
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  transition: 0.5s; }

#header {
  background-color: #0a5d77; }

.about__container {
  margin-top: 2rem; }
  .about__container .about__data {
    text-align: center; }
    .about__container .about__data .section__title {
      font-size: 1.2rem; }
    .about__container .about__data .about__description {
      margin-top: 2rem;
      color: #333; }
      .about__container .about__data .about__description .texto {
        color: #333; }
  .about__container .about__img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer; }
    .about__container .about__img .about__img-overlay {
      overflow: hidden; }
      .about__container .about__img .about__img-overlay .about__img-one {
        width: 130px; }
      .about__container .about__img .about__img-overlay .about__img-two {
        width: 180px; }
    .about__container .about__img .about__img-one,
    .about__container .about__img .about__img-two {
      transition: 0.3s; }
    .about__container .about__img .about__img-one:hover,
    .about__container .about__img .about__img-two:hover {
      transform: scale(1.1); }

.conteiner-cards {
  margin-top: 3rem; }

.conteiner-cards .title {
  text-align: center; }

.conteiner-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  top: 3rem;
  justify-content: center;
  align-items: center; }

.conteiner-card {
  position: relative; }

.discover__data {
  position: absolute;
  bottom: 1rem;
  left: 1rem; }

.discover__data span {
  color: #fff;
  font-weight: 100; }

.conteiner-card img {
  width: 300px; }

.title {
  font-size: 1.3rem; }

.header__container {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center; }
  .header__container .header__right .header__title {
    color: #fff;
    font-weight: 100; }
  .header__container .header__right .header__subtitle {
    font-size: 3rem;
    color: #fff; }
  .header__container .header__right .header__parrafo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 100; }
  .header__container .header__right .header__link {
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-decoration: none; }
  .header__container .header__content {
    display: flex;
    align-items: center; }
    .header__container .header__content .header__left {
      background-color: aqua;
      width: 300px;
      height: 150px;
      position: relative; }
      .header__container .header__content .header__left .header__img .header__image {
        width: 100%; }
      .header__container .header__content .header__left .header__icon {
        position: absolute;
        right: 0;
        top: 0px;
        width: 50px;
        height: 50px;
        background-color: #01747b; }
        .header__container .header__content .header__left .header__icon .header__items {
          color: #fff;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          margin-top: 10px;
          cursor: pointer; }

/************************************
inicio section index turista responsable
************************************/
.turismo__container {
  margin-top: 8rem; }
  .turismo__container .turismo__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .turismo__container .turismo__images img {
    width: 100%;
    border-radius: 20px; }
  .turismo__container .turismo__images .turismo__one {
    position: relative;
    padding: 5px; }
    .turismo__container .turismo__images .turismo__one h5 {
      position: absolute;
      color: #fff;
      bottom: 0;
      padding: 0 5px; }

/************************************
fin section index turista responsable
************************************/
.content-text {
  margin-top: 6rem; }

.subscribe__bg {
  background-color: #0a5d77;
  padding: 2.5rem 0;
  margin-top: 6rem; }

.subscribe__title,
.subscribe__description {
  color: #fff; }

.subscribe__title {
  text-align: center; }

.subscribe__description {
  text-align: center;
  margin-top: 3em; }

.subscribe__form {
  padding: 0.5rem;
  text-align: center; }

.subscribe__form .button {
  cursor: pointer; }

.subscribe__input {
  height: 3rem;
  background-color: #fff;
  color: #333;
  position: relative;
  transition: 2s; }

.subscribe__input::placeholder {
  color: #333; }

.container__doctor {
  margin-top: 80px; }

.container__doctor .container-items .img {
  box-sizing: border-box; }

.container__doctor .container-items .img img {
  width: 100%; }

.container__doctor .container-items {
  width: 200px;
  padding: 20px 15px 10px 10px;
  margin-top: 3rem; }

.container__doctor .container-items .img h5 {
  text-align: center;
  font-size: 0.9rem;
  padding: 15px 0;
  line-height: -2; }

.container__doctor .container-items .especiality {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  top: -10px;
  font-weight: 900; }

.container__doctor .container-items .par {
  text-align: center; }

.container__doctor .container-items .icons {
  text-align: center;
  position: relative;
  top: 20px; }

.container__doctor .container-items .icons i {
  padding: 10px; }

.fa-facebook-f {
  color: #3b5999; }

.fa-twitter {
  color: #46c1f6; }

.fa-linkedin-in {
  color: #3b5999; }

.container-doctors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.nosotros {
  margin-top: -300px; }
  .nosotros .nosotros__title {
    width: 600px;
    height: 300px;
    margin: auto;
    z-index: 100000;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }

.banner__container {
  display: flex;
  justify-content: center;
  margin-top: 3rem; }
  .banner__container .banner__titles {
    font-size: 3rem;
    color: #fff;
    text-shadow: 5px 1px 2px #969696; }

.nosotros .nosotros__title {
  font-size: 3.3rem; }

.galeria__container {
  width: 80%;
  margin: auto;
  margin-top: 4rem; }
  .galeria__container .galeria__content {
    position: relative; }
    .galeria__container .galeria__content .galeria__items {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      position: relative;
      top: 3rem;
      justify-content: center;
      align-items: center; }
      .galeria__container .galeria__content .galeria__items .galeria__card {
        position: relative; }
        .galeria__container .galeria__content .galeria__items .galeria__card .galeria__image {
          width: 300px; }
        .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data {
          position: absolute;
          bottom: 1rem;
          left: 1rem; }
          .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data .galeria__title {
            color: #fff; }
          .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data .galeria__subtitle {
            font-weight: 400;
            color: #fff; }
          .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data .galeria__botton {
            width: 30px;
            height: 30px;
            background-color: #c0cac3;
            position: relative;
            display: flex;
            justify-content: center; }
            .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data .galeria__botton .galeria__link {
              text-decoration: none; }
            .galeria__container .galeria__content .galeria__items .galeria__card .galeria__data .galeria__botton .galeria__icon {
              color: #333;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              top: 0.5rem; }

.sesion__container {
  margin-top: 10rem; }
  .sesion__container .sesion__content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .sesion__container .sesion__content .sesion__data {
      padding: 25px; }
      .sesion__container .sesion__content .sesion__data .session__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 900; }
      .sesion__container .sesion__content .sesion__data .sesion__subtitle {
        text-align: center;
        color: #6e6e6e; }
      .sesion__container .sesion__content .sesion__data .sesion__botton {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .sesion__container .sesion__content .sesion__data .sesion__botton .session__links {
          padding: 15px; }
        .sesion__container .sesion__content .sesion__data .sesion__botton .active {
          background-color: #333;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase; }

.credito__container {
  margin-top: 4rem; }
  .credito__container .credito__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6e6e6e; }
    .credito__container .credito__content .credito__title {
      font-size: 1.2rem;
      font-weight: 400; }
    .credito__container .credito__content .credito__links .credito__link {
      text-decoration: none; }

.reservacion__container {
  margin-top: 6rem; }
  .reservacion__container .reservacion__content {
    width: 80%;
    margin: auto; }
    .reservacion__container .reservacion__content .reservacion__title {
      text-align: center;
      font-size: 3rem;
      font-weight: 900; }
  .reservacion__container .reservacion__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto; }
    .reservacion__container .reservacion__items .reservacion__item {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .reservacion__container .reservacion__items .reservacion__item .reservacion__icon {
        font-size: 4rem; }
      .reservacion__container .reservacion__items .reservacion__item .reservation__subtitle {
        font-weight: 600;
        margin-top: 1rem; }
      .reservacion__container .reservacion__items .reservacion__item .reservacion__parrafo {
        width: 50%;
        text-align: center; }

.banner-text .lugar__title {
  font-size: 2rem;
  color: #fff;
  text-shadow: 5px 1px 2px #969696; }

.banner-text .lugar__subtitle {
  font-size: 2rem;
  color: #fff;
  text-shadow: 5px 1px 2px #969696; }

.banner-text .lugar__item .lugar__span {
  font-size: 3rem;
  color: #f3b50c;
  font-weight: 900;
  text-shadow: 5px 1px 2px #969696; }

#galery img {
  width: 100%;
  cursor: pointer; }

/*********************************************
inicio de section tour 
/*********************************************/
.col__container {
  position: relative; }
  .col__container img {
    width: 100%; }
  .col__container h5 {
    position: absolute;
    background-color: #ed1c24;
    padding: 0 20px 5px;
    left: 25px;
    top: 7px;
    color: #fff;
    border-radius: 5px;
    font-size: 2rem; }

.col__content .h6 {
  text-align: center;
  background-color: #0a5d77;
  font-size: 1.5rem;
  color: #fff;
  width: 250px;
  margin: auto;
  position: relative;
  top: 1rem; }

.col__content .duracion {
  font-weight: 900;
  color: #0a5d77; }

.col__content p {
  color: #0a5d77; }

.col__content div .price {
  display: flex;
  flex-direction: column; }

.container__ofertas .row:hover {
  box-shadow: -1px -1px 26px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 26px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 26px -6px rgba(0, 0, 0, 0.75); }

.rows {
  background: #fff;
  border-radius: 30px;
  box-shadow: 12px 12px 22px; }

.login img {
  border-top-left-radius: 30px;
  width: 80%;
  margin-left: 2.5rem; }

.inp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75); }

.btn1 {
  height: 50px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 60px; }

.face {
  font-size: 3rem;
  color: #3b5999; }

.google {
  font-size: 3rem;
  color: #ed1c24; }

.fa-chevron-circle-down {
  font-size: 4rem;
  cursor: pointer;
  color: #fff; }

.container__internet {
  position: relative;
  width: 900px;
  height: 300px;
  margin: auto;
  background-color: #fff;
  margin-top: -200px; }
  .container__internet .container__internet__title {
    font-size: 3rem; }

.precios__container {
  position: relative;
  top: -200px;
  background-color: #fff;
  height: 15rem; }

.container__img {
  margin: auto;
  width: 80%; }
  .container__img .container__image {
    width: 100px; }
    .container__img .container__image .conatiner__image_item {
      margin-left: -30px; }
  .container__img .container__img__title {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 5px 1px 2px #969696;
    text-align: center; }
  .container__img .conatiner__img__icon {
    font-size: 3rem;
    color: #fff;
    margin-left: 7rem;
    text-shadow: 5px 1px 2px #969696;
    cursor: pointer; }
  .container__img .container__img__subtitle {
    font-size: 2rem;
    text-shadow: none;
    text-align: center; }

.container__img__button .container__img__link {
  text-decoration: none;
  color: #fff;
  text-align: center; }

@media (min-width: 768px) {
  .about__container {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5rem; }
  .conteiner-cards {
    width: 80%;
    margin: auto;
    margin-top: 8rem; }
  .subscribe__input {
    width: 300px;
    height: 3.5rem; }
  .footer {
    width: 80%;
    margin: auto; }
  .footer-content {
    display: flex;
    flex-wrap: wrap; }
  .conteiner-items {
    display: flex;
    flex-direction: row; }
  .login img {
    margin-left: 5rem; }
  .reservacion__items {
    flex-direction: row;
    align-items: center; }
  .container__img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container__img .container__img__title {
      margin-left: 6rem; }
  .banner-text .lugar__title {
    font-size: 3rem; }
  .banner-text .lugar__subtitle {
    font-size: 4rem; }
  .banner-text .lugar__item .lugar__span {
    font-size: 5rem;
    color: #f3b50c;
    font-weight: 900; }
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .nav {
    background-color: #fff;
    border-radius: 15px; } }

@media (min-width: 1024px) {
  .conteiner-cards {
    width: 100%;
    margin: auto;
    margin-top: 8rem; }
  .conteiner-items {
    overflow: hidden;
    width: 100%;
    display: flex; }
  .conteiner-card img:hover {
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer; }
  .subscribe__input {
    width: 600px;
    height: 3.5rem; }
  .text-temporada {
    width: 50%; }
  .img-fluid {
    height: 50vh;
    width: 100vw; }
  .card-img {
    height: 50vh;
    object-fit: cover; }
  .login img {
    width: 50vw; }
  .video {
    width: 20%; }
  .conteiner-items {
    display: flex;
    flex-direction: row; }
  .header__container .header__right .header__title {
    color: #fff; }
  .header__container .header__right .header__subtitle {
    font-size: 5rem; }
  .nav {
    background-color: transparent;
    color: #fff; }
    .nav .nav-link {
      color: #fff !important; }
  .fondos-header {
    background-position: 0 0; }
  .col__content .h6 {
    text-align: center;
    background-color: #0a5d77;
    font-size: 1.5rem;
    color: #fff;
    width: 450px;
    margin: auto;
    position: relative;
    top: 1rem;
    padding: 5px;
    border-radius: 5px; } }
