.button {
  display: $display-inline-block;
  background-color: $background-azulejo;
  color: $color-blanco;
  padding: 1rem 2rem;
  font-weight: 700;
  transition: 0.3s;
  text-decoration: $text-none;
  margin-top: 2rem;
  border: 1px solid $background-azulejo;
}

.button:hover {
  background-color: $color-blanco;
  color: $background-claro;
  transition: 0.9s;
  font-weight: 700;
}
