$fondos: "background-image";

// @each $fondo in fondos {
//   .#{$fondo} {
//     background-image: url(../img/atardecer.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     min-height: 100vh;
//     position: $position-relative;
//     background-attachment: fixed;
//     font-family: $font-family;
//   }
// }

@each $fondos in fondo, fondo1, fondo2, fondo3, fondo4, fondo5, fondo6, fondo7,
  fondo8, fondo9, fondo10
{
  .#{$fondos}-header {
    background-image: url("/img/#{$fondos}.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: $position-relative;
    background-attachment: fixed;
    font-family: $font-family;
    background-color: #01747b;
  }
}
