$font-family: "Roboto";
$font-size: 30px;
$color-blanco: #fff;
$box-sizing: border-box;
$background: rgba(0, 0, 0, 0.5);
$background-azul: #3b5999;
$background-celeste: #46c1f6;
$background-rosa: #e1306c;
$background-verde: #00a817;
$background-claro: rgb(5, 80, 102);
$color-negro: #000;
$top: 40px;
$segundo-color: #333;
$color-rojo: #ed1c24;
$color-verde: #39b54a;
$color-gris: rgb(136, 136, 136);
$color-gris-second: rgb(99, 98, 98);
$margin-left: 30px;
$font-size-footer: 1.1em;
$display-inline-block: inline-block;
$display-block: block;
$display-flex: flex;
$flex-wrap: wrap;
$flex-direction-column: column;
$border-radius: 5px;
$font-weight: 900;
$font-weight-second: 600;
$justify-center: center;
$align-items: center;
$text-align: center;
$position-relative: relative;
$position-absolute: absolute;
$pointer: pointer;
$text-none: none;
