.about__container {
  margin-top: 2rem;
  .about__data {
    text-align: $text-align;
    .section__title {
      font-size: 1.2rem;
    }
    .about__description {
      margin-top: 2rem;
      color: $segundo-color;
      .texto {
        color: $segundo-color;
      }
    }
  }
  .about__img {
    display: $display-flex;
    column-gap: 1rem;
    align-items: $align-items;
    justify-content: $justify-center;
    margin-top: 2rem;
    cursor: $pointer;
    .about__img-overlay {
      overflow: hidden;
      .about__img-one {
        width: 130px;
      }
      .about__img-two {
        width: 180px;
      }
    }
    .about__img-one,
    .about__img-two {
      transition: 0.3s;
    }

    .about__img-one:hover,
    .about__img-two:hover {
      transform: scale(1.1);
    }
  }
}
