.conteiner-cards {
  margin-top: 3rem;
}
.conteiner-cards .title {
  text-align: $text-align;
}
.conteiner-items {
  display: $display-flex;
  flex-direction: $flex-direction-column;
  gap: 15px;
  position: $position-relative;
  top: 3rem;
  justify-content: $justify-center;
  align-items: $align-items;
}
.conteiner-card {
  position: $position-relative;
}
.discover__data {
  position: $position-absolute;
  bottom: 1rem;
  left: 1rem;
}
.discover__data h2,
span {
  color: $color-blanco;
}
.discover__data span {
  color: $color-blanco;
  font-weight: 100;
}
.conteiner-card img {
  width: 300px;
}
.title {
  font-size: 1.3rem;
}
