.footer {
  position: $position-relative;
  top: 10rem;
  width: 80%;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  margin-left: $margin-left;
}

.footer .footer-content h5,
.footer .footer-content h2 {
  color: $segundo-color;
  font-size: $font-size;
}
.footer .footer-content .about p {
  color: $segundo-color;
  position: $position-relative;
  top: 15px;
}
.footer .footer-content .about h5 .red {
  color: $color-rojo;
}
.footer .footer-content .about h5 .green {
  color: $color-verde;
}

.footer .footer-content .about .contact span {
  display: $display-block;
  font-size: $font-size-footer;
  margin-bottom: 8px;
}
.footer .footer-content .about .socials {
  position: $position-relative;
  top: 25px;
}
.footer .footer-content .about .socials a {
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: $text-align;
  display: $display-inline-block;
  font-size: $font-size-footer;
  border-radius: $border-radius;
  transition: all 0.3s;
  color: $color-gris;
  cursor: $pointer;
}
.footer .url {
  text-decoration: $text-none;
  color: $color-negro;
  font-weight: $font-weight;
}
.footer .footer-content .about .socials a:hover {
  color: $segundo-color;
}

.footer .footer-content .links ul a {
  display: $display-block;
  margin-bottom: 10px;
  font-size: $font-size-footer;
  transition: all 0.3s;
  text-decoration: $text-none;
  color: $segundo-color;
}

.footer .footer-content .links ul a:hover {
  margin-left: 10px;
  transition: all 0.3s;
}

.footer .footer-bottom {
  color: $segundo-color;
  height: 50px;
  width: 100%;
  text-align: $text-align;
  position: $position-absolute;
  bottom: -15px;
  left: 20px;
  padding-top: 20px;
}
.footer .footer-bottom a {
  text-decoration: $text-none;
  color: $segundo-color;
  font-weight: $font-weight-second;
}

.container-social {
  display: $display-flex;
  position: $position-relative;
  top: $top;
  left: -35px;
}
.container-social .icon {
  margin: 0 10px;
  text-align: $text-align;
  cursor: $pointer;
  display: $display-flex;
  align-items: $align-items;
  justify-content: $justify-center;
  flex-direction: $flex-direction-column;
  position: $position-relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container-social .icon span {
  display: $display-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: $position-relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container-social .icon span i {
  line-height: 60px;
  font-size: 25px;
  color: $color-gris-second;
}
.container-social .icon span i:hover {
  color: $color-blanco;
}
.container-social .icon .tooltip {
  position: $position-absolute;
  top: 0;
  z-index: 1;
  background: $color-blanco;
  color: $color-blanco;
  padding: 10px 18px;
  font-size: 20px;
  opacity: 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.container-social .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
}
.icon .tooltip:before {
  position: $position-absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s;
}
.container-social .icon:hover span {
  color: $color-blanco;
}
.container-social .icon:hover span,
.container-social .icon:hover .tooltip {
  text-shadow: 0px -1px 0px $background;
}
.container-social .facebook:hover span,
.container-social .facebook:hover .tooltip,
.container-social .facebook:hover .tooltip:before {
  background: $background-azul;
}
.container-social .twitter:hover span,
.container-social .twitter:hover .tooltip,
.container-social .twitter:hover .tooltip:before {
  background: $background-celeste;
}
.container-social .instagram:hover span,
.container-social .instagram:hover .tooltip,
.container-social .instagram:hover .tooltip:before {
  background: $background-rosa;
}

.container-social .whatsapp:hover span,
.container-social .whatsapp:hover .tooltip,
.container-social .whatsapp:hover .tooltip:before {
  background: $background-verde;
}
