header .banner-text {
  top: 20vh;
}
.conteiner-span {
  width: 80%;
  margin: 0 auto;
}
header {
  .banner-text {
    div {
      position: $position-relative;
      top: $top;
    }
  }
}
header {
  .banner-text div i {
    padding: 0 10px;
  }
  .fa-instagram {
    color: $background-rosa;
  }
}
.ancla {
  background: $background-azulejo;
  border: 1px solid $background-azulejo;
  transition: 0.5s;
}
.ancla:hover {
  background-color: transparent;
  transition: 0.5s;
}
.navbar {
  z-index: 10000;
}
.nav-item:hover {
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
#header {
  background-color: $background-azulejo;
}
