header .banner-text {
  top: 20vh;
}
.conteiner-span {
  width: 80%;
  margin: 0 auto;
}
header {
  .banner-text {
    div {
      position: $position-relative;
      top: $top;
    }
  }
}
header {
  .banner-text div i {
    padding: 0 10px;
  }
  .fa-instagram {
    color: $background-rosa;
  }
}

.navbar {
  z-index: 10000;
}
