.container__internet {
  position: relative;
  width: 900px;
  height: 300px;
  margin: auto;
  background-color: #fff;
  margin-top: -200px;
  .container__internet__title {
    font-size: 3rem;
  }
}
