//section de grilla
.galeria__container {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  .galeria__content {
    position: relative;
    .galeria__items {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      position: relative;
      top: 3rem;
      justify-content: center;
      align-items: center;
      .galeria__card {
        position: relative;
        .galeria__image {
          width: 300px;
        }
        .galeria__data {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          .galeria__title {
            color: #fff;
          }
          .galeria__subtitle {
            font-weight: 400;
            color: #fff;
          }
          .galeria__botton {
            width: 30px;
            height: 30px;
            background-color: rgb(192, 202, 195);
            position: relative;
            display: flex;
            justify-content: center;
            .galeria__link {
              text-decoration: none;
            }
            .galeria__icon {
              color: #333;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              top: 0.5rem;
            }
          }
        }
      }
    }
  }
}

//section de planificar tu viaje
.sesion__container {
  margin-top: 10rem;
  .sesion__content {
    display: flex;
    justify-content: center;
    align-items: center;
    .sesion__data {
      padding: 25px;
      .session__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
      }
      .sesion__subtitle {
        text-align: center;
        color: rgb(110, 110, 110);
      }
      .sesion__botton {
        display: flex;
        flex-direction: column;
        align-items: center;
        .session__links {
          padding: 15px;
        }
        .active {
          background-color: #333;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

//section de canjea tu credito

.credito__container {
  margin-top: 4rem;
  .credito__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(110, 110, 110);
    .credito__title {
      font-size: 1.2rem;
      font-weight: 400;
    }
    .credito__links {
      .credito__link {
        text-decoration: none;
      }
    }
  }
}

//setion reservacion

.reservacion__container {
  margin-top: 6rem;
  .reservacion__content {
    width: 80%;
    margin: auto;
    .reservacion__title {
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
    }
  }
  .reservacion__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    .reservacion__item {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .reservacion__icon {
        font-size: 4rem;
      }
      .reservation__subtitle {
        font-weight: 600;
        margin-top: 1rem;
      }
      .reservacion__parrafo {
        width: 50%;
        text-align: center;
      }
    }
  }
}
//setion banner
.banner-text {
  .lugar__title {
    font-size: 2rem;
    color: #fff;
    text-shadow: 5px 1px 2px rgba(150, 150, 150, 1);
  }
  .lugar__subtitle {
    font-size: 2rem;
    color: #fff;
    text-shadow: 5px 1px 2px rgba(150, 150, 150, 1);
  }
  .lugar__item {
    .lugar__span {
      font-size: 3rem;
      color: rgb(243, 181, 12);
      font-weight: 900;
      text-shadow: 5px 1px 2px rgba(150, 150, 150, 1);
    }
  }
}
